<div class="site-wrapper">
    <div class="promo">
        <video autoplay="autoplay">
            <source src="../img/frontPage_6.mp4" type="video/mp4">
        </video>

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <img class="masthead-brand" id="logo" src="../img/logo.png" alt="logo">
                        <!--<h3 class="masthead-brand">Trekmate</h3>-->
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#signInModal">Sign in
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#signUpModal">Sign Up
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#aboutModal">About
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Copyright &copy; 2017 Trekmate </p>
                    </div>
                </div>

            </div>

        </div>
        <!--Sign in Modal-->
        <div id="signInModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Sign In</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/dashboard" method="post">
                            <label for="inputUser">
                                <span>Enter User id</span>
                            </label>
                            <input id="inputUser" type="text" name="user_name" value="user">
                            <label for="passwordUser">
                                <span class="actAsPara">Enter password</span>
                            </label>
                            <input id="passwordUser" type="password" name="user_password" value="password">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!--need to change action, temporay to dashboad for testing-->
        <!--sign up Modal-->
        <div id="signUpModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Sign In</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/dashboard" method="get">
                            <label for="inputUser">
                                <span>Enter User id</span>
                            </label>
                            <input id="inputUser" type="text" name="user_name" value="user">
                            <label for="passwordUser">
                                <span class="actAsPara">Enter password</span>
                            </label>
                            <input id="passwordUser" type="password" name="user_password" value="password">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!--About Modal-->
        <div id="aboutModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">About</h4>
                    </div>
                    <div class="modal-body">
                        <p>Form Goes Here</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>