<div class="container">
    <div class="row">

        <h2>Trekmate</h2>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#signInModal">Sign in
        </button>

        <div id="signInModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Sign In</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/" method="post">
                            <label for="inputUser">
                                <span>Enter User id</span>
                            </label>
                            <input id="inputUser" type="text" name="user_name" value="user">
                            <label for="passwordUser">
                                <span class="actAsPara">Enter password</span>
                            </label>
                            <input id="passwordUser" type="password" name="user_password" value="password">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#signUpModal">Sign Up
        </button>

        <div id="signUpModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Sign Up</h4>
                    </div>
                    <div class="modal-body">
                        <p>Form Goes Here</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div id="signInModal" class="modal">-->
    <!--<div class="modal-content">-->
        <!--<h4 id="sign-in-title">Sign In</h4>-->
        <!--<input id="txtEmail" type="email" class="validate">-->
        <!--<label for="email">Email</label>-->
        <!--<input id="txtPassword" type="password" class="validate">-->
        <!--<label for="password">Password</label>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<a id="btnLogin" href="#!" class="modal-action waves-effect waves-green btn-flat hide">Sign In</a>-->
        <!--<a id="btnSignUp" href="#!" class="modal-action waves-effect waves-green btn-flat hide">Sign Up</a>-->
    <!--</div>-->
<!--</div>-->

<!-- Add Trip Modal -->
<!--<div id="addTripModal" class="modal">-->
    <!--<div class="modal-content">-->
        <!--<h4>Add A Trip</h4>-->
        <!--<input placeholder="City (Ex: Austin)" id="trip-city" type="text" class="validate">-->
        <!--<input placeholder="State (Ex: TX)" id="trip-state" type="text" class="validate" maxlength="2">-->
        <!--<input placeholder="Day Leaving (Ex: March 11)" id="trip-leaving" type="date" class="datepicker">-->
        <!--<input placeholder="Day Returning (Ex: March 15)" id="trip-returning" type="date" class="datepicker">-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<a id="set-location" href="#!" class="modal-action waves-effect waves-green btn">Go</a>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Remove Trip Modal &ndash;&gt;-->
<!--<div id="removeTripModal" class="modal">-->
    <!--<div class="modal-content">-->
        <!--<h4>Delete A Trip</h4>-->
        <!--<div id="deleteTrips">You don't have any trips to delete.</div>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Add Hotel Modal &ndash;&gt;-->
<!--<div id="addHotelModal" class="modal">-->
    <!--<div class="modal-content">-->
        <!--<h4>Add A Hotel</h4>-->
        <!--<input placeholder="Hotel Name" id="hotelName" type="text" class="validate">-->
        <!--<input placeholder="Phone Number" id="hotelNumber" type="text" class="validate">-->
        <!--<input placeholder="Address (Ex. 1900 University Ave Austin TX, 78705)" id="hotelAddress" type="text" class="validate">-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<a id="addHotel" href="#!" class="modal-action waves-effect waves-green btn">Submit</a>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Add Transport Modal &ndash;&gt;-->
<!--<div id="addRentalModal" class="modal">-->
    <!--<div class="modal-content">-->
        <!--<h4>Add A Rental Car</h4>-->
        <!--<input placeholder="Car Rental Name" id="carRentalName" type="text" class="validate">-->
        <!--<input placeholder="Car Rental Confirmation" id="carRentalConfirmation" type="text" class="validate">-->
        <!--<input placeholder="Contact Number (Ex. 555-555-5555)" id="carRentalNumber" type="text" class="validate">-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<a id="addRental" href="#!" class="modal-action waves-effect waves-green btn">Submit</a>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Add Activity Modal &ndash;&gt;-->
<!--<div id="addActivityModal" class="modal">-->
    <!--<div class="modal-content">-->
        <!--<h4>Add An Activity</h4>-->
        <!--<input placeholder="Activity" id="user-activity" type="text" class="validate">-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<button class="modal-action waves-effect waves-green btn" id="addActivity">Submit</button>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Navigation menu &ndash;&gt;-->
<!--<div class="container">-->
    <!--<div id="login">-->
        <!--<div class="row">-->
            <!--<div class="col s4">-->
                <!--<img id="logo" class="reponsive-img" src="img/logo.png" alt="TrekMate" }>-->
            <!--</div>-->
            <!--<div class="col s4"></div>-->
            <!--<div class="col s4">-->
                <!--<div class="nav-links">-->
                    <!--<ul class="right hide-on-sm-and-down">-->
                        <!--<li><a class="waves-effect waves-light btn modal-trigger" href="#signInModal" id="sign-in-link">Sign In</a></li>-->
                        <!--<br>-->
                        <!--<li><a class="waves-effect waves-light btn" href="#signInModal" id="sign-up-link">Sign Up</a></li>-->
                        <!--<li><a class="waves-effect waves-light btn hide" id="btnLogout">Sign Off</a></li><br>-->
                        <!--<li><a class="waves-effect waves-light btn hide" id="back2Trips">Trips List</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; End Navigation menu &ndash;&gt;-->

<!--&lt;!&ndash; Destination page &ndash;&gt;-->
<!--<div id="user-trips" class="container content hide">-->
    <!--<div class="row valign-wrapper">-->
        <!--<div class="col s4 offset-s4 valign">-->
            <!--<div class="card darken-1">-->
                <!--<div class="card-content">-->
                    <!--<span id="trips-title" class="card-title">Pick A Trip</span>-->
                    <!--<p id="trip-list"></p>-->
                <!--</div>-->
                <!--<div class="card-action">-->
                    <!--<a class="waves-effect waves-light btn valign" href="#addTripModal" id="add-trip-link">Add A Trip</a>-->
                    <!--<br>-->
                    <!--<a class="waves-effect waves-light btn valign" href="#removeTripModal" id="deleteATrip">Delete A Trip</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; End of Destination page &ndash;&gt;-->

<!--&lt;!&ndash; DASH BOARD &ndash;&gt;-->
<!--<div id="dashboard" class="container content hide">-->
    <!--<div class="row">-->
        <!--<div class="col s4">-->
            <!--<span id="city-name"></span>-->
            <!--<span id="trip-timeframe"></span>-->
        <!--</div>-->
        <!--<div class="col s4"></div>-->
        <!--<div class="col s4">-->
            <!--<div class="card" id="wCard">-->
                <!--<div class="card-image">-->
                <!--</div>-->
                <!--<div class="card-content">-->
                    <!--<div id="weather">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="card-action">-->
                    <!--<p class="weather-forecast"><a id="forecast-link" href="#" target="_blank">5-Day Forecast</a></p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div id="trip-details" class="row">-->
        <!--<div class="row"></div>-->
        <!--&lt;!&ndash; <div class="col s1"></div> &ndash;&gt;-->
        <!--<div class="col s4">-->

            <!--&lt;!&ndash; Flight card &ndash;&gt;-->

            <!--<div class="card small">-->
                <!--<div class="card-image waves-effect waves-block waves-light">-->
                    <!--<img class="activator" src="http://www.mattis.aero/images/ship.jpg">-->
                <!--</div>-->
                <!--<div class="card-content">-->
                    <!--&lt;!&ndash; Add Flight Modal Trigger &ndash;&gt;-->
                    <!--<a class="waves-effect waves-light btn" href="#modal1">Add Flight</a>-->

                    <!--&lt;!&ndash; Flight modal &ndash;&gt;-->
                    <!--<div id="modal1" class="modal">-->
                        <!--<div class="modal-content">-->
                            <!--&lt;!&ndash; autocomplete example &ndash;&gt;-->
                            <!--<div class="row">-->
                                <!--<div class="col s12">-->
                                    <!--<div class="row">-->
                                        <!--<div class="input-field col s12">-->
                                            <!--<i class="material-icons prefix">textsms</i>-->
                                            <!--<input type="text" id="autocomplete-input" class="autocomplete">-->
                                            <!--<label for="autocomplete-input">Airline</label>-->
                                            <!--<input id="flightDate" type="date" class="datepicker" value="Flight Date">-->
                                            <!--<input id="flightNumber" type="text" value="Flight Number">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="modal-footer">-->
                            <!--&lt;!&ndash; Button triggers new topic to be added &ndash;&gt;-->
                            <!--<input id="flight-info" class="waves-effect waves-light btn" type="submit" value="Submit">-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; End flight modal &ndash;&gt;-->

                    <!--<span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>-->
                    <!--&lt;!&ndash; <p>Flight</p> &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; id for flight status &ndash;&gt;-->
                <!--<div class="card-reveal">-->
                    <!--<span class="card-title grey-text text-darken-4 reveal-head">Flight<i class="material-icons right">close</i></span>-->
                    <!--<p id="flightStatus"></p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; Hotel card &ndash;&gt;-->

        <!--<div class="col s4"></div>-->
        <!--<div class="col s4">-->
            <!--<div class="card small">-->
                <!--<div class="card-image waves-effect waves-block waves-light">-->
                    <!--<img class="activator" src="http://flashydubai.com/images/jumeirah-beach.jpg">-->
                <!--</div>-->
                <!--<div class="card-content">-->
                    <!--<span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>-->
                    <!--<a class="waves-effect waves-light btn" id="add-hotel" href="#addHotelModal">Add Hotel</a>-->
                <!--</div>-->
                <!--<div class="card-reveal">-->
                    <!--<span class="card-title grey-text text-darken-4 reveal-head">Hotel<i class="material-icons right">close</i></span>-->
                    <!--<span id="userHotel"></span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Transportation card &ndash;&gt;-->

    <!--<div class="row">-->
        <!--<div class="row"></div>-->
        <!--<div class="row"></div>-->
        <!--<div class="col s4">-->
            <!--<div class="card small">-->
                <!--<div class="card-image waves-effect waves-block waves-light">-->
                    <!--<img class="activator" src="http://chainimage.com/images/car-wallpapers-free-download-maybach-history-1921-2013.jpg">-->
                <!--</div>-->
                <!--<div class="card-content">-->
                    <!--<a class="waves-effect waves-light btn" href="#addRentalModal">Add Rental</a>-->
                    <!--<span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>-->
                <!--</div>-->
                <!--<div class="card-reveal">-->
                    <!--<span class="card-title grey-text text-darken-4 reveal-head">Transportation<i class="material-icons right">close</i></span>-->
                    <!--<span id="userCar"></span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col s4"></div>-->
        <!--<div class="col s4">-->
            <!--<div class="card small">-->
                <!--<div class="card-image waves-effect waves-block waves-light">-->
                    <!--<img class="activator" src="http://images.all-free-download.com/images/graphicthumb/tourist_information_sign_192713.jpg">-->
                <!--</div>-->
                <!--<div class="card-content">-->
                    <!--<a class="waves-effect waves-light btn" href="#addActivityModal">Add Activity</a>-->
                    <!--<span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span><br>-->
                    <!--<p><a id="googleTour" target="_blank" href="#" >Activity Look Up</a></p>-->

                <!--</div>-->
                <!--<div class="card-reveal">-->
                    <!--<span class="card-title grey-text text-darken-4 reveal-head">Itinerary<i class="material-icons right">close</i></span>-->
                    <!--<ul id="event"></ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->